<!-- Footer -->
<footer class="page-footer font-small indigo text-white"
    style="background-color: #2c292f;border-bottom:1px solid black;">

    <!-- Footer Links -->
    <div class="container text-center text-md-center">

        <!-- Grid row -->
        <div class="row">
            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-6 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
                <hr style="border:1px solid white;">
                <div>
                    <p class="text-white"> <i class="fa fa-map-marker mx-2"></i>
                        Triyuga-Municipality-13,<br>
                        Province 1, Udayapur,Nepal</p>
                    <a href="mailto:bipurna@gmail.com"> EMAIL US</a>
                </div>


            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Stay Connected</h5>
                <hr style="border:1px solid white;">
                <p class="text-warning my-2">We are Start up</p>
                <div class="py-2">
                    <a href="https://www.facebook.com/bipurna" target="_blank"><i
                            class="fa fa-facebook fa-2x text-primary mx-3"></i></a>
                    <a href="https://twitter.com/bipurna_" target="_blank"><i
                            class="fa fa-twitter fa-2x text-info mx-3"></i></a>
                    <a href="https://www.youtube.com/channel/UCMmySoaej7lKKwHAwjudBNw/" target="_blank"><i
                            class="fa fa-youtube fa-2x text-danger mx-3"></i></a>
                </div>


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <hr style="border:1px solid white;">
    <div class="footer-copyright text-center p-2 text-white" style="background-color: black;">

        © 2020 Copyright:
        <a href="https://www.facebook.com/bipurna"> Bipurna Tara</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->